
@import url('https://fonts.googleapis.com/css2?family=Epilogue&display=swap');


body{
    margin: 0;
    font-family: 'Epilogue', sans-serif;
    min-height: 100vh;
    background: linear-gradient (to bottom, #26DAED, #A62AB1);
    padding: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;

}

.container {
    max-width: 393px;
    width: 100%;
    text-align: center;
}

.titulo {
    font-size: 1.8rem;
    margin-bottom: 1.5rem;
    color:#000;
    font-weight: 700;
}

.botones {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    margin-bottom: 2rem;
}

.button {
    flex:1;
    background-color: #A4F6FA;
    padding: 0.8rem;
    border: none;
    border-radius: 12px;
    font-weight: 600;
    font-size: 1rem;
    cursor: pointer;
    color: #000;
    transition: transform 0.2s ease;

}

.button:hover {
    transform: scale (1.05)
}

.card {
  background-color: #FFF4D9;
  border-radius: 20px;
  padding: 1.5rem;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  font-size: 1.1rem;
  line-height: 1.6;
}


.negro { color: #000; font-weight: 600; }
.rosa { color: #A62AB1; font-weight: 600; }
.verde { color: #26DAED; font-weight: 700; }
.gris  { color: #555; }
.fucsia { color: #C94DCB; font-weight: 500; }


@media (min-width: 768px) {
  .container {
    max-width: 600px;
  }

  .card {
    font-size: 1.3rem;
  }
}